@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  background: #2f2f2f;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.davi-baptista {
  animation: float 2s ease infinite;
  position: absolute;
  top: 50px;
  width: 120px;
}
.arrow {
  animation: down 1.8s ease infinite;
  bottom: 50px;
  position: absolute;
  transition: all 0.4s ease;
}
.purple {
  color: #ff8afe;
}
.text {
  color: #f1f1f1;
  font-size: 40px;
  text-align: center;
}
.text-main {
  color: #f1f1f1;
  letter-spacing: 8px;
  text-align: center;
}
.text-skills {
  color: #f1f1f1;
  font-size: 48px;
  padding: 5px 0px;
  text-align: center;
}
.text span {
  color: #ff8afe;
  position: relative;
  transition: all 0.4s ease;
}
.skills {
  display: flex;
  margin-top: 3rem;
  width: 75%;
}
.skills-text {
  align-self: center;
  width: 30%;
}
.skills-graph {
  width: 70%;
}
.graph {
  background: #ff8afe;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 10px;
  margin: 21px auto;
  padding: 14px 0px;
  transition: all 2s ease;
}
.html,
.css,
.git,
.js,
.photoshop,
.blender,
.c-sharp {
  width: 0;
}
.portfolio {
  display: flex;
  margin-top: 50px;
}
.portfolio-box {
  background: #ff8afe;
  border-radius: 15px;
  margin: 25px;
  padding: 20px;
  width: 300px;
}
.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}
.social-media a {
  background: #ff8afe;
  border-radius: 15px;
  margin: 10px;
}
.contato {
  display: flex;
/* Slider */
}
.container-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: #222;
  font: 600 3rem 'Roboto';
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 310px;
}
.slider {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 220px;
  padding: 15px;
  position: relative;
  transition: all 0.5s ease;
}
.slide {
  align-items: center;
  background: #222;
  border-radius: 5px;
  color: #d053d0;
  display: flex;
  font: 600 3rem 'Roboto';
  height: 200px;
  justify-content: center;
  margin: 12px;
  position: relative;
  width: 200px;
}
.slide img {
  width: 125px;
}
.commands {
  align-items: center;
  display: flex;
  font: 600 1.2rem 'Roboto';
  justify-content: center;
  position: absolute;
}
.command {
  background: #d053d0;
  border-radius: 5px;
  padding: 30px 12px;
  position: absolute;
  transition: all 0.4s ease;
}
.command:hover {
  cursor: pointer;
  background: #ff62ff;
}
.right {
  left: 160px;
}
.right::after {
  content: '>';
  height: 10px;
  position: relative;
  width: 10px;
}
.left {
  right: 130px;
}
.left:after {
  content: '<';
  height: 10px;
  position: relative;
  width: 10px;
}
.is-disabled {
  pointer-events: none;
}
.is-active {
  background: #ff62ff;
}
/* Tablet */
@media (max-width: 768px) {
  .davi-baptista {
    top: 160px;
    width: 150px;
  }
  .text-skills {
    font-size: 28px;
    padding: 18px 0px;
    text-align: left;
  }
}
/* Mobile */
@media (max-width: 450px) {
  .social-media {
    grid-template-columns: repeat(2, 1fr);
  }
  .social-media > a {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .skills {
    width: 85%;
  }
  .text-skills {
    font-size: 18px;
    padding: 24px 0px;
    text-align: left;
  }
  .skills-text {
    align-self: center;
    width: 50%;
  }
  .skills-graph {
    width: 50%;
  }
  .text {
    font-size: 28px;
  }
  .text-main {
    font-size: 20px;
    margin-top: 20px;
  }
  .davi-baptista {
    top: 100px;
    width: 90px;
  }
  .portfolio {
    margin-left: -20px;
  }
}
@-moz-keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}
@-webkit-keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}
@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}
