@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  background: #2f2f2f;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.arrow {
  position: relative;
}
.arrow:before {
  background: #ff8afe;
  bottom: 70px;
  content: '';
  height: 80px;
  width: 1px;
  position: absolute;
}
.arrow:after {
  bottom: 53px;
  color: #ff8afe;
  content: '▽';
  position: absolute;
}
.text {
  color: #f1f1f1;
  font-size: 48px;
  overflow: hidden;
}
.text-skills {
  color: #f1f1f1;
  font-size: 48px;
  padding: 5px 0px;
  text-align: center;
}
.text span {
  color: #ff8afe;
  position: relative;
}
.skills {
  display: flex;
  margin-top: 5rem;
  width: 85%;
}
.skills-text {
  align-self: center;
  width: 30%;
}
.skills-graph {
  width: 70%;
}
.graph {
  background: #ff8afe;
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 10px;
  margin: 21px auto;
  padding: 14px 0px;
  width: 100%;
}
.portfolio {
  display: flex;
  margin-top: 50px;
}
.portfolio-box {
  background: #ff8afe;
  border-radius: 15px;
  margin: 25px;
  padding: 20px;
  width: 300px;
}
.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}
.social-media a {
  background: #ff8afe;
  border-radius: 15px;
  margin: 10px;
}
.contato {
  display: flex;
  width: 80%;
}
